.pokemon-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-row-gap: 1rem;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    grid-column-gap: 1rem;
    column-gap: 1rem;
}

.pokemon-detail__container {
    width: 45.5%;
    align-items: center;
    padding: 1rem;
}

.pokemon-detail__container > h3 {
    margin: 10px 10px 15px;
    text-align: left;
}

.pokemon-detail__profile {
    display: block;
}

.pokemon-detail__profile div:first-child {
    padding: 0 0 1rem;
    width: 100%;
}

.pokemon-detail__profile div:last-child {
    padding: 0 10px;
    width: 100%;
}

.pokemon-detail__profile__info {
    text-align: left;
    width: 100%;
    font-size: 17px;
    line-height: 1.7;
    text-transform: capitalize;
}

.pokemon-detail__image {
    animation: pokebounce 3s infinite normal;
}

.pokemon-detail__action__catch {
    padding: 1rem;
}

.pokemon-detail__container_full {
    width: 100%;
    align-items: center;
    padding: 1rem;
}

.pokemon-detail__container_full > h3 {
    margin: 15px 10px;
    text-align: left;
}

.pokemon-detail__fulltext {
    margin: 10px 10px 15px;
    text-align: left;
    line-height: 1.7;
    text-transform: capitalize;
}

.lengthCount {
    background-color: #ffcb01;
    padding: 2px 7px;
    font-size: 15px;
    color: #212324;
    border-radius: 50px;
}

.pokeball {
    padding: 2rem;
}

.pokeball__catching {
    animation: rotation 2s infinite linear;
}

@media only screen and (max-width: 768px) {
    .pokemon-detail__container {
        width: 100% !important;
    }

    .pokemon-detail__container > h3 {
        text-align: center !important;
    }

    .pokemon-detail__container_full > h3 {
        text-align: center !important;
    }

    .pokemon-detail__fulltext {
        text-align: center !important;
    }
}