.card {
    border-radius: 0.25rem;
    box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px;
    background-color: #fff9ec;
    transition: 0.5s;

}

.card-wave {
    background-image: url(../assets/waves.png);
    background-size: initial;
    background-position: bottom;
    background-blend-mode: color-burn;
}