@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

.App {
    text-align: center;
    font-family: "Rubik", sans-serif;
}

input {
    font-family: "Rubik", sans-serif;
}

.page-header {
    margin-bottom: 3rem;
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

.pokemon-list__name {
    box-shadow: 3px 4px 0 0 #2d74b9;
    background-color: #fff;
    height: 1.3rem;
    margin: 1rem;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 3px;
}

.pokemon-list__item {
    width: 32%;
    transition: transform 0.2s;
}

.pokemon-list__item:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.pokemon-list__image {
    margin: 1rem 2rem;
}

.pokemon-list__image > img {
    width: 100%;
    height: auto;
}

.pokemon-list__image:hover {
    animation: pokebounce 3s infinite normal;
}

.pokemon-list__description {
    margin: 1rem;
    padding: 10px;
    font-size: 1em;
    font-weight: 500;
}

.pokemon-list__description > span {
    display: block;
}

.pokemon-list__nickname {
    display: inline-block !important;
    margin: 10px 0 10px;
    background-color: #ffe272;
    padding: 5px 15px;
    border-radius: 50px;
    border: 2px solid #757575;
}

.pokemon-list__action {
    padding: 0 20px 20px;
}

.pokemon-list__load__more {
    margin: 2.5rem 0;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes pokebounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 768px) {
    .pokemon-list__item {
        width: 100%;
    }

    .pokemon-list__image > img {
        width: 50%;
        height: auto;
    }
}
